@import "../../scss/utils/config";
@import "../../scss/utils/mixin";

.sidebar{
  nav{
    a {
      list-style: none;
      padding: 35px;
      color: $white;
      @include size(17);
      display: block;
      transition: all .3s ease-in-out;
      &:hover, &.active {
        color: $aqua;
        transform: scale(1.2);
        cursor: pointer;
      }
      &:first-child {
        margin-top: 7px;
      }
      &.active {
        color: $aqua;
      }
      &.disabled{
       color: rgba(0,0,0,.2);
        pointer-events: none;
      }
    }


  }
}
